#content_body p {
	max-width: 675px;
}

#us_map {
  min-height: 660px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 .90909rem;
}

#map_spacer {
	height:660px;
}




@media only screen and (min-width: 40.063em){
	#us_map {
	  padding: 0 1.81818rem;
	}	
}
@media all and (min-width: 850px) {
	#us_map {
	  padding: 0 2.72727rem;
	}
}
@media all and (min-width: 1200px) {
	#us_map {
	  padding: 0 2.27273rem;
	}	
}


@media all and (max-width: 990px) {
	#us_map {
	  min-height:1200px;
	}	
	#map_spacer {
		height:1200px;
	}
}

@media all and (max-width: 849px) {
	#us_map {
	  min-height:1200px;
	  width: 87%;
	  right: 0;
	  left:auto;
	}	
	#map_spacer {
		height:1200px;
	}
}

@media all and (max-width: 642px) {
	#us_map {
	  width: 100%;
	  right: auto;
	  left:0;
	}	
}